<% provide(:title, 'Sign In') %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h1>Sign In</h1>

          <%= form_for(:session, url: sessions_path) do |f| %>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <%= f.label :email %>
            </div>
            <div class="col-md-6 col-xs-6">
              <%= f.text_field :email, autofocus: true %>
            </div>
          </div>
            <br>
          <div class="row">
            <div class="col-md-6 col-xs-6">
              <%= f.label :password %>
            </div>
            <div class="col-md-6 col-xs-6">
              <%= f.password_field :password %>
            </div>
          </div>
            <br>
            <%= f.submit 'Sign In', class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>