<% provide(:title, current_user.shelves.name) %>

<h1><%= @shelf.name %></h1>

<ul>
  <% @books.each do |book| %>
  <li>
    <%= link_to book.title, book_path(book.id) %>
    <br>
    <%= image_tag book.thumbnail %>
    <br>
    <%= book.author %>
    <%= link_to "delete", book, method: :delete, data: { confirm: 'Really?' } %>
    <% end %>
  </li>
</ul>