<%= form_tag new_book_path, :method => 'get' do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], :class => 'form-control' %>
  </div>
    <%= submit_tag 'Search', :class => 'btn btn-primary' %>
<% end %>

<br>


<% @books["items"].each do |book| %>
<div class="container">
  <h2><%= title(book) %></h2>
  <h2><%= authors(book) %></h2>
  <%= thumbnail(book, { height: '250px' }) %>
  <h2><%= snippet(book) %></h2>
  <h2><%= page_count(book) %> pages</h2>

  <%= form_for(:book, url: books_path) do |f| %>
    <%= f.select(:shelf_id, options_for_select(current_user.shelves.map { |s| [s.name, s.id] }))  %>
    <%= f.hidden_field :title, value: title(book) %>
    <%= f.hidden_field :author, value: authors(book) %>
    <%= f.hidden_field :thumbnail, value: thumbnail_url(book) %>
    <%= f.hidden_field :page_count, value: page_count(book) %>
    <button type="button">
      <%= submit_tag 'Add to Shelf', :class=> 'btn btn-default btn-lg btn-block' %>
    </button>
  <% end %>
</div>
<% end %>
